* {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
}

.navigation {
    width: 75%;
    padding: 20px 0;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-div {
    margin: 0;
}

.links_nav {
    display: flex;
    gap: 20px;
    margin-right: 0;
    justify-content: flex-end;
}

.links_nav a {
    text-decoration: none !important;
    padding: 10px;
    color: black !important;
}

.links_nav a:hover {
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.main_container {
    margin-top: 50px;
    width: 75%;
}

.main_container h1 {
    font-size: 40px;
}

.main_container a {
    text-decoration: none;
}

.about-me {
    width: 60%;
}

.about-me p {
    color: grey;
}

.github_button {
    background-color: black;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}

.linkedin_button {
    background-color: #0077B5;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    margin-left: 20px;
}

.github_button:hover {
    background-color: rgb(113, 111, 111);
}

.linkedin_button:hover {
    background-color: #03466a;
}

.contact {
    margin-top: 100px;
    width: 75%;
    display: flex;
    flex-direction: column;
}

.contact h1 {
    border-bottom: 1px solid black;
    margin-bottom: 20px;;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact input {
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 20px;
    padding: 5px 5px;
    background-color: rgb(246, 246, 246);
}

.contact textarea {
    width: 350px;
    height: 50px;
    border: none;
    border-radius: 20px;
    padding: 20px 10px;
    background-color: rgb(246, 246, 246);
}

.contact button {
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.contact button:hover {
    cursor: pointer;
    background-color: rgb(113, 111, 111);
}

.projects-container {
    margin-top: 100px;
    width: 75%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 450px;
    border-radius: 20px;
}

.card img{
    width: 300px;
    height: 200px;
    border-radius: 20px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2px 16px;
    text-align: center;
    height: 50%;
}

.projects-container a {
    width: 150px;
    height: 20px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
}

.footer {
    text-align: center;
    padding: 40px 0;
    margin-top: 20px;
}